{
   ApplicationDescription = "Hello World Tutorial FTW";
   ApplicationIcon = "";
   ApplicationName = HelloWorld;
   ApplicationRelease = 0.1;
   Authors = "";
   Copyright = "Copyright (C) 200x by The Internets";
   CopyrightDescription = "Released under slight rain";
   FullVersionID = 10.1;
   URL = "http://google.com";
}
